{% extends "blog/base.html" %} <! -- Import from base.html -->
{% block content %}
        <h1 style="color:#660000">About Project</h1>
<div style="line-height: 2">
        <p> Ramy Attalla</p>
        <p> Marianopolis College</p>
        <p> Instructor: Professor Vincent</p>
        <p> Programming techniques sec.01</p>
        <p> Documentation: Documentation.pdf</p>
</div>
<div style="line-height: 2">
        <h1 style="color:#660000"> Citations</h1>
        <a href="https://youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p"> Django youtube tutorial</a>
        <br>
        <a href="w3schools.com/colors/default.asp"> CSS information</a>
        <br>
        <a href="https://www.w3schools.com/html/default.asp"> HTML information</a>
        <br>
        <a href="https://docs.djangoproject.com/en/3.2/"> Django Documentation</a>

</div>

{% endblock content %}
